<header>
  <%= image_tag("logo.png", :alt => "Application exemple", :class => "round") %>
  <nav class="round">
    <ul>
      <li><%= link_to "Accueil", '/' %></li>
      <li><%= link_to "Aide", 'help' %></li>
      <li><%= link_to "A propos", 'about' %></li>
      <li><%= link_to "Inscription", 'inscription' %></li>
      <li><%= link_to "Connexion", 'connexion' %></li>
    </ul>
  </nav>
</header>